.CodeMirror-wrapping {
    box-sizing: border-box;
    max-width: 512px;
    width: 100%;
    background: #fff;
    border: 1px solid #b3b3b3;
    padding: 7px 7px;
    line-height: 16px;
    margin: 0;
    outline: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}